{% extends "basepdf.html" %}

{% load static %}

{% block content_body %}

<div style="position: relative; width: 100%; height: 0; padding-top: 56.2225%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
    <iframe loading="lazy"
        style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
        src="https://www.canva.com/design/DAGTZC111RU/atdLZcPTPaj1927xntqkBw/view?embed"
        allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGTZC111RU&#x2F;atdLZcPTPaj1927xntqkBw&#x2F;view?utm_content=DAGTZC111RU&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
    target="_blank" rel="noopener">Soy ingeniera de software y cuento con 5 años de experiencia en diseño, planeación y
    desarrollo completo de sistemas complejos. Competente en tecnologías del lado del servidor, incluyendo el trabajo
    con varias plataformas y diversas herramientas y</a> de ALEJANDRO MOLINA

{% endblock %}