{% extends "basehv.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content%}

<!--ESTILO 1-->

<div class="modal fade" id="verexplab" data-bs-backdrop="static" tabindex="-1" aria-labelledby="verexplabLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" style="margin-top: 5px;">

    <div class="modal-content">

      <div class="modal-body px-lg-1 py-lg-1">
        <h6 class="modal-title" id="cargarfotoLabel" style="text-align: left;color: rgb(255, 255, 255);">
          <div style="padding: 1px; margin-left: 0px; margin-right: 0px;">
            <div style="padding: 2px;   background-color: rgb(27, 112, 136);">
              <b id="documento_solicitado_adjunto">
                <!-- Documento de indentificación -->
              </b>
            </div>
          </div>
        </h6>
        <div id="mostrando_explab"></div>
        <div class="modal-footer py-lg-0">
          <button type="button" class="btn btn-light btn-sm" width="10%">
            <button type="button" class="btn btn-outline-danger btn-sm float-end" data-bs-dismiss="modal">
              <b>Salir</b>
            </button>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  var dirdiplomas = document.getElementById("mostrando_explab")
  documento_solicitado_adjunto = document.getElementById("documento_solicitado_adjunto")
  function mostrarExpLabModal(exp_lab, soporete_adjunto) {
    documento_solicitado_adjunto.innerHTML = soporete_adjunto;
    dirdiplomas.innerHTML = `<embed src="{% static '/' %}${exp_lab}" type="application/pdf" width="100%" height="100%"
          style="height: 15cm;"/>`
    $(document).ready(function () {
      $('#verexplab').modal('toggle')
    });

  }
</script>

<script>

  function RegistroExperienciaLaboral(condicional, id_explab = '{{ id_actual }}', nombre_evento_cientifico, tipo_evento,
    institucion_evento, ciudad_evento, departamento_evento,
    pais_evento, fecha_inicio_evento, fecha_fin_evento,
    modalidad_evento, soportes_eventos_cientificos) {

    experiencia_laboral.innerHTML = ``
    registro_experiencia_laboral.innerHTML = `
<div class="class_div_div">
  <div class="class_div" style="font-size:15px;border-top: rgb(8, 26, 66) 5px solid; border-radius: 10px;">
    {% if errform %}
    <div style="margin:0px; padding: 1px;background-color: rgb(255, 0, 0); width:63%; margin-left: 5cm;">
      <h5 style="color: white;margin-top:5px;">
        <b>&nbsp&nbsp
          No se ha podido enviar los datos, por favor revise el formulario
        </b>
      </h5>
    </div>
    <br>
    {% endif%}
   
 <table>
      <tr>
        <td width="3%">
          <img src="{% static 'bs532/img/imghv/fad.png' %}" style="width: 100%;transform: scale(0.8)" alt="My image">
        </td>
        <td width="1%">

        </td>
        <td style="font-size:15px;">
          <b class="text-uppercase">Registro experiencia laboral</b>
        </td>
      </tr>
    </table>

    <hr>
    <br>
    <form enctype="multipart/form-data" method="post" action="${id_explab}">
      {% csrf_token %}
      <table width="100%">
          <tr style="background-color: #F3F3F3;">
          <td>
            {{form.nombre_evento_cientifico|as_crispy_field}}
          </td>
           <td width="2%"></td>
          <td>
            {{form.tipo_evento|as_crispy_field}}
          </td>
           <td width="2%"></td>
          <td>
            {{form.institucion_evento|as_crispy_field}}
          </td>

        </tr>
         <tr style="background-color: #F3F3F3;">
          <td>
            {{form.ciudad_evento|as_crispy_field}}
          </td>
           <td width="2%"></td>
          <td>
             {{form.pais_evento|as_crispy_field}}
           
          </td>
           <td width="2%"></td>
          <td>
            {{form.fecha_inicio_evento|as_crispy_field}}
          </td>
        </tr>
        <tr style="background-color: #F3F3F3;">
          <td>
            {{form.fecha_fin_evento|as_crispy_field}}
          </td>
           <td width="2%"></td>
          <td>
            {{form.modalidad_evento|as_crispy_field}}
          </td>
           <td width="2%"></td>
          <td>
            {{form.departamento_evento|as_crispy_field}}
          </td>
        </tr>
        <tr style="background-color: #F3F3F3;">
          <td colspan="3">
            <table width="100%">
            <tr>
              <td style="width: 80%;">
                {{form.soportes_eventos_cientificos|as_crispy_field}}
                  <div id="askdjfls"></div>
              </td>
              <td width="2%"></td>
              <td>
                <div id="mostrar_pdf_cargado"></div>
              </td>
            </tr>
          </table>
          </td>
           <td width="2%"></td>
          <td>

          </td>
        </tr>
      </table>
      <br>
      <hr>

      <table width="100%">
        <tr>
          <td width="90%">
            <button class="btn btn-sm btn-outline-primary float-end" type="submit">
              <b>Guardar</b>
            </button>
          </td>
          <td width="1%">
          </td>
          <td>

          <button onclick="ExperienciaLaboralOK()" class="btn btn-outline-danger btn-sm ">
            Cancelar
          </button>
            </a>
          </td>
        </tr>
      </table>
    </form>


  </div>
  <br>
  </div>`

    if (condicional) {
      document.getElementById("id_nombre_evento_cientifico").value = nombre_evento_cientifico;
      document.getElementById("id_tipo_evento").value = tipo_evento;
      document.getElementById("id_institucion_evento").value = institucion_evento;
      document.getElementById("id_ciudad_evento").value = ciudad_evento;
      document.getElementById("id_departamento_evento").value = departamento_evento;
      document.getElementById("id_pais_evento").value = pais_evento;
      document.getElementById("id_fecha_inicio_evento").value = fecha_inicio_evento;
      document.getElementById("id_fecha_fin_evento").value = fecha_fin_evento;
      document.getElementById("id_modalidad_evento").value = modalidad_evento;
      document.getElementById("id_soportes_eventos_cientificos").required = false;
      document.getElementById("askdjfls").innerHTML = `<div class="formato_div_carga">
        ${soportes_eventos_cientificos.split("/")[3]}
      </div>`;

      document.getElementById("mostrar_pdf_cargado").innerHTML = `<a onclick="mostrarExpLabModal('${soportes_experincias_laborales}','&nbsp&nbsp Soporte experiencia laboral')"
        style="text-decoration: none; cursor:pointer">
        <img src="{% static 'bs532/img/ver_violeta.svg' %}" width="20%"
          style="position: relative; margin-bottom: -13px;">
      </a>`;


    } else {
      document.getElementById("askdjfls").innerHTML = ``;
      document.getElementById("mostrar_pdf_cargado").innerHTML = ``;
      //document.getElementById("id_titulo_disertacion").placeholder = "Nombre de su desertacion";
    }

  }

  function ExperienciaLaboralOK() {
    registro_experiencia_laboral.innerHTML = ``
    experiencia_laboral.innerHTML = `
        <div class="class_div_class">
  <div class="class_div" style="font-size:15px;border-top: rgb(8, 26, 66) 5px solid; border-radius: 10px;">
  
    <table>
      <tr>
        <td width="3%">
          <img src="{% static 'bs532/img/imghv/fad.png' %}" style="width: 100%;transform: scale(0.8)" alt="My image">
        </td>
        <td width="1%">

        </td>
        <td style="font-size:15px;">
          <b class="text-uppercase">Experiencia laboral</b>
        </td>
        <td style="font-size:15px;">
          <a href="{% url 'menuhv' %}" class="btn btn-sm btn-outline-danger float-end">
            <img src="{% static 'bs532/img/atras.svg' %}" alt="My image" style="width: 25px;transform: scale(1)""> 
            <b>salir</b>
          </a>
        </td>

      </tr>
    </table>
      <br>
    <table width="100%">
      <tr>
        <td width="49%"></td>
        <td>
          <a onclick="RegistroExperienciaLaboral()">
            <img class="botonexper" style=" border-radius: 5px;border: 1px solid; color: rgba(219, 146, 10, 0.514);"
              src=" {% static 'bs532/img/imghv/agregar_exp.png' %}" width="88%"  />
          </a>
        </td>
        <td width="35%">
          <div class="input-group mb-0">
              <span class="input-group-text" id="basic-addon1">buscar</span>
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
      </tr>
    </table>
    <div style="height:8px;width: 100%; background-color:rgba(255, 0, 0, 0) ;"></div>
   <table style="width:100%" class="ptable ptbody">
  <tr class="ptr">
    <td class="ptd">
      <b class="b">
        Nombre del evento:
      </b>
    </td>

    <td class="ptd">
      <b>Tipo de evento:</b>
    </td>

    <td class="ptd">
      <b>Institución del evento:</b>
    </td>

    <td class="ptd">
      <b>Ciudad:</b>
    </td>

    <td class="ptd">
      <b>Pais:</b>
    </td>

    <td class="ptd">
      <b>Fecha inicio del evento</b>
    </td>

    <td class="ptd">
      <b>Fecha fin del evento</b>
    </td>

    <td class="ptd">
      <b>Rol en el envento </b>
    </td>

    <td class="ptd">
      <b>Opciones</b>
    </td>

  </tr>

  {% for qrdat in querydat %}
  <tr class="askdj">
    <td class="ptd">
      {{ qrdat.nombre_evento_cientifico }}
    </td>

    <td class="ptd">
      {{ qrdat.tipo_evento }}
    </td>

    <td class="ptd">

    {{qrdat.institucion_evento }}
    </td>

    <td class="ptd">
      {{ qrdat.ciudad_evento}}
    </td>

    <td class="ptd">
      {{ qrdat.pais_evento }}
    </td>

    <td class="ptd">
      {{ qrdat.fecha_inicio_evento|date:"d/m/Y"}}
    </td>

    <td class="ptd">
      {{ qrdat.fecha_fin_evento|date:"d/m/Y"}}
    </td>

    <td class="ptd">
      {{qrdat.modalidad_evento}}
    </td>

    <td class="ptd" width="9%">
      <a onclick="mostrarExpLabModal('{{qrdat.soportes_eventos_cientificos}}','&nbsp&nbsp Soporte experiencia laboral')" style="cursor:pointer; text-decoration: none">
      <img src="{% static 'bs532/img/ver_violeta.svg' %}" width="22px">
    </a>
  

    <a onclick="RegistroExperienciaLaboral(
              true,'{{qrdat.id}}','{{qrdat.nombre_evento_cientifico}}',' {{qrdat.tipo_evento}}',' {{qrdat.institucion_evento}}',
              '{{ qrdat.ciudad_evento }}',' {{ qrdat.departamento_evento }}','  {{ qrdat.pais_evento }}',
              '{{ qrdat.fecha_inicio_evento|date:"Y-m-d" }}', ' {{ qrdat.fecha_fin_evento|date:"Y-m-d" }}','{{qrdat.modalidad_evento}}',
              ' {{ qrdat.soportes_eventos_cientificos}}')" style="cursor:pointer">
      <img src=" {% static 'bs532/img/editar.svg' %}" width="22px"></a>
    </a>

    <a href="{% url 'delete_expr' qrdat.id %}">
      <img src="{% static 'bs532/img/eliminar.svg' %}" width="22px">
    </a>
                        
    </td>
  </tr>
  {% endfor %}
</table>
  </div>
  <br>
</div>`
  }
</script>


<div id="registro_experiencia_laboral"></div>
<div id="experiencia_laboral"></div>

{% if errform %}
<script>
  window.addEventListener("load", async () => {
    await RegistroExperienciaLaboral();
  });

</script>
{% else %}
<script>
  const registro_experiencia_laboral = document.getElementById("registro_experiencia_laboral");
  const experiencia_laboral = document.getElementById("experiencia_laboral");
  window.addEventListener("load", async () => {
    await ExperienciaLaboralOK();
  });
</script>
{% endif %}

{% endblock content %}