{% extends "basepdf.html" %}

{% load static %}

{% block content_body %}

<table style="margin-top:0.4cm;margin-left:145.9mm; width: 63.08mm; position: absolute;">
    <tr>

        <td style="width: 70%; background-color: #282831;">
            <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                Datos personales
            </b>
        </td>
    </tr>
</table>


<div class="class-div">
    <table class="Ttable" style="margin-left: 1cm; margin-top:1cm;
         width: 196.5mm;text-align: left; border: 4mm solid #ffffff;border-right: 1mm solid #ffffff00; ">

        <tr style="background-color: rgb(45, 136, 163);">

            <td style="text-align: center; border: 0px solid;width: 55mm; ">
                <img src="http://localhost:8000/media/files/img/foto/mifoto.jpg" class="my_img">
            </td>


            <td style="border: 1px solid rgba(27, 26, 26, 0);">


                <table style="width: 100%; margin-top: 0.5cm; margin-bottom: 0.5cm; color: #ffffff;">
                    <tr>
                        <td>
                            <h1 class="text-uppercase">
                                <b>Miguel alejandro molina ceron</b>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>
                                <b>Magister en Física</b>
                            </h2>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src="http://localhost:8000/static/bs532/img/documento.svg"> &nbsp&nbsp
                                        CC: 1086548533
                                    </td>
                                    <td style=" width:0.5cm">
                                    </td>

                                    <td>
                                        <img src="http://localhost:8000/static/bs532/img/cake2-fill.svg"> &nbsp&nbsp
                                        20/10/1987, San Bernardo, Nariño, Colombia
                                    </td>

                                </tr>

                                <tr>

                                    <td>
                                        <img src="http://localhost:8000/static/bs532/img/email.svg"> &nbsp&nbsp
                                        malejo20@gmail.com
                                    </td>

                                    <td style="width:0.5cm"></td>

                                    <!-- <td>
                                        <img src="http://localhost:8000/static/bs532/img/linkedin.svg">
                                        &nbsp&nbsp
                                        <a href="https://www.linkedin.com/in/amcern"
                                            style="color: #ffffff;">linkedin.com/amcern</a>
                                    </td> -->

                                    <td>
                                        <img src="http://localhost:8000/static/bs532/img/house.svg">&nbsp&nbsp
                                        Clle 22 #12-34, Pasto, Nariño, Colombia
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://localhost:8000/static/bs532/img/telephone.svg">&nbsp&nbsp
                                        +573148435349
                                    </td>
                                    <td style="width:0.5cm"></td>

                                    <td>
                                        <img src="http://localhost:8000/static/bs532/img/github.svg">&nbsp&nbsp
                                        <a href="https://github.com/amolinacrn"
                                            style="text-decoration: none; color: blue;">https://github.com/amolinacrn</a>

                                    </td>


                                </tr>
                                <tr>
                                    <!-- <td>
                                        <img src="http://localhost:8000/static/bs532/img/cake2-fill.svg">&nbsp&nbsp
                                        20/10/1987
                                    </td>

                                    <td style="width:0.5cm"></td> -->

                                </tr>
                            </table>

                        </td>

                    </tr>
                </table>
            </td>

        </tr>
    </table>
    <br>
    <!---Perfil profesional --->
    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1.5mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #ffffff;">&nbsp&nbsp
                    Perfil profesional
                </b>
            </td>

        </tr>
    </table>

    <table class="Ttable" style=" margin-left: 35mm;width: 174mm;">
        <tr style="background-color: rgba(159, 159, 159, 0.623);border-bottom: 2px solid; border-bottom-color:#ffffff;">
            <td colspan="3">&nbsp
                <b>Descripción del perfil profesional</b>
            </td>
        </tr>

        <tr style="background-color: rgba(149, 229, 255, 0.335);">
            <td>
                &nbsp&nbsp
            </td>
            <td style="text-align: justify;">
                Se desempeñó como docente hora cátedra en el Departamento de Física de la Universidad de Nariño
                (UDENAR), donde impartió
                diversos cursos teóricos y prácticos en diferentes programas académicos de la universidad. Además,
                realiza
                investigaciones sobre sistemas complejos, aplicando técnicas de física estadística, procesos
                estocásticos, sistemas
                dinámicos no lineales y análisis de datos. Después de graduarse de un colegio oficial en el
                municipio de
                Albán-Nariño,
                estudió Física en la Universidad de Nariño - Colombia. En 2018, obtuvo el reconocimiento de trabajo de grado meritorio para obtener el título de físico.
                Con una beca del organismo brasileño CAPES, obtuvo una maestría en Física por
                la
                Universidad
                Federal de Pernambuco (UFPE) en Brasil en 2023. Fue profesor contratista de básica secundaria y
                media en
                el Instituto
                INSUCA en Pasto - Nariño, y en el Vicariato Apostólico de Mitú Vapués.
            </td>
            <td>
                &nbsp&nbsp
            </td>
        </tr>
    </table>
    <br>

    <!---formacion academica--->

    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    formación académica
                </b>
            </td>
        </tr>
    </table>
    <table style="margin-left: 35mm;width: 174mm;">
        <tr style="background-color: rgba(159, 159, 159, 0.531);">
            <td>&nbsp
                <b>Título obtenido:</b>
            </td>
            <td>&nbsp
                <b>Institución:</b>
            </td>
            <td>&nbsp
                <b>Fecha título:</b>
            </td>
            <td>&nbsp
                <b>Modalidad:</b>
            </td>
            <td>&nbsp
                <b>país:</b>
            </td>
            <td>&nbsp
                <b>Ver:</b>
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td>&nbsp
                Físico
            </td>
            <td>&nbsp
                Universidad de Nariño
            </td>
            <td>&nbsp
                14/04/2018
            </td>
            <td>&nbsp
                Presencial
            </td>
            <td>&nbsp
                Colombia
            </td>
            <td>&nbsp
                <a href="#diploma_graduacion">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>

        </tr>

        <tr style="background-color: #00bcfb34;">
            <td>&nbsp
                Magister en física
            </td>
            <td>&nbsp
                Universidad Federal de Pernambuco
            </td>
            <td>&nbsp
                20/12/2023
            </td>
            <td>&nbsp
                Presencial
            </td>
            <td>&nbsp
                Brasil
            </td>
            <td>&nbsp
                <a href="#diploma_maestria">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <br>

    <!---Experiencia laboral--->

    <table style=" margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    experiencia laboral
                </b>
            </td>
        </tr>
    </table>
    <!-- {% for iecol in exp_laboral %} -->
    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531)" ;>
            <td colspan="4">&nbsp
                <b>Empleo o contrato</b>
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Entidad:
                </b>
                Universidad de Nariño
            </td>

            <td>&nbsp
                <b>
                    País:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Departamento:
                </b>
                Nariño
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Municipio y dirección:</b>
                San Juan de Pasto, Cll 18 # 50-02
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Contacto Entidad:
                </b>
                7311449 Ext. 1225
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Correo electrónico Entidad:
                </b>
                <href>
                    recursos@udenar.edu.co
                </href>
            </td>
            <td> &nbsp
                <b>
                    Tipo empresa:
                </b>
                Pública
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de ingreso:</b>
                19/02/2024
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                28/06/2024
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#exp_lab1">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>


    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">


    <!--esperienecia 2-->

    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Entidad:
                </b>
                Universidad de Nariño
            </td>

            <td>&nbsp
                <b>
                    País:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Departamento:
                </b>
                Nariño
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Municipio y dirección:</b>
                Juan de Pasto, Cll 18 # 50-02
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Contacto Entidad:
                </b>
                7311449 Ext. 1225
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Correo electrónico Entidad:
                </b>
                <href>
                    recursos@udenar.edu.co
                </href>
            </td>
            <td> &nbsp
                <b>
                    Tipo empresa:
                </b>
                Pública
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de ingreso:</b>
                30/08/2023
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                19/01/2024
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#exp_lab2">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">

    <!-- fin experiencia 2-->

    <!---experiencia 3-->

    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Entidad:
                </b>
                Vicariato Apostólico de Mitú
            </td>

            <td>&nbsp
                <b>
                    País:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Departamento:
                </b>
                Vaupés
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Municipio y dirección:</b>
                Mitu, Cll 14 # 13-93
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Contacto Entidad:
                </b>
                3157621862
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Correo electrónico Entidad:
                </b>
                <href>
                    telentohumanomitu@gmail.com
                </href>
            </td>
            <td> &nbsp
                <b>
                    Tipo empresa:
                </b>
                Privada
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de ingreso:</b>
                15/01/2020
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                17/12/2020
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#exp_lab3">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">
    <!---fin experiencia 3-->
    <!---Expeiriencia 4-->
    <table style="text-align: left; margin-left: 35mm; width: 174mm;">
        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Entidad:
                </b>
                Instituto INSUCA
            </td>

            <td>&nbsp
                <b>
                    País:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Departamento:
                </b>
                Nariño
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Municipio y dirección:</b>
                San Juan de Pasto, Cra 18 # 28-24
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Contacto Entidad:
                </b>
                7238011-7364594
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Correo electrónico Entidad:
                </b>
                <href>
                    insuca1977@gmail.com
                </href>
            </td>
            <td> &nbsp
                <b>
                    Tipo empresa:
                </b>
                Privada
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de ingreso:</b>
                01/09/2018
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                03/10/2019
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#exp_lab4">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <!--fin experiencia 4-->
    <!-- {% endfor %} -->
    <br>
    <table style="text-align: center; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531); text-align: left">
            <td colspan="3">&nbsp
                <b>Tiempo total de experiencia como trabajador público o privado</b>
            </td>
        </tr>


        <tr style="background-color: rgba(231, 231, 231, 0.515)" ;>
            <td rowspan="2">
                <b>Especificación de la ocupación o cargo</b>
            </td>
            <td colspan="2">
                <b>Tiempo de experiencia laboral</b>
            </td>
        </tr>

        <tr style="background-color: rgba(231, 231, 231, 0.515)" ;>
            <td>
                <b>Años</b>
            </td>
            <td>
                <b>Meses</b>
            </td>
        </tr>

        <!-- {% for totemp in exp_laboral%} -->
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td>
                Docente en Universidades públicas y/o privadas
            </td>
            <td>
                0
            </td>
            <td>
                8
            </td>
        </tr>
        <!-- {% endfor %} -->

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td>
                Docente en colegios públicos y/o privados
            </td>
            <td>
                2
            </td>
            <td>
                0
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td>
                <b>Tiempo total de experiencia</b>
            </td>
            <td>
                <b>2</b>
            </td>
            <td>
                <b>8</b>
            </td>
        </tr>


    </table>
    <br>
    <!---idioma extrangero--->

    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    Idioma extranjero
                </b>
            </td>

        </tr>
    </table>

    <table style="width: 100%;text-align: center; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531); text-align: left">
            <td colspan="4">&nbsp
                <b>Dominio de idiomas diferentes al español</b>
            </td>
        </tr>


        <tr style="background-color: rgba(231, 231, 231, 0.515)" ;>
            <td rowspan="2">
                <b>Idioma</b>
            </td>
            <td colspan="3">
                <b>Nivel de dominio del idioma</b>
            </td>
        </tr>

        <tr style="background-color: rgba(231, 231, 231, 0.515)" ;>
            <td>
                <b>En conversación</b>
            </td>
            <td>
                <b>En escritura</b>
            </td>
            <td>
                <b>En lectura</b>
            </td>
        </tr>
        </tr>

        <!-- {% for totemp in exp_laboral%} -->
        <tr style="background-color: #00bcfb34" ;>
            <td style="width: 25%">
                Ingles
            </td>
            <td style="width: 25%">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="width: 5% ; background-color:#f97306;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            5%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>

            </td>
            <td style="width: 25%">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="width: 5% ; background-color:#f97306;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            5%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%">
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="width: 10% ; background-color:#f97306;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            10%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- {% endfor %} -->

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td>
                Portugues
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="width: 50% ; background-color:#f97306;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            50%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="width: 15% ; background-color:#f97306;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            15%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="width: 70% ; background-color:#f97306;" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            70%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
        </tr>


    </table>
    <br>
    <!---Produccion intelectual--->

    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    Producción académica
                </b>
            </td>

        </tr>
    </table>

    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531)" ;>
            <td colspan="4">&nbsp
                <b>Trabajos de investigación y artículos publicados en revistas</b>
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del trabajo:
                </b>
                Redes funcionales, estructura modular y patrones entre estados corticales
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2" style="width: 50%;"> &nbsp
                <b>Revista:</b>
                ATTENA - repositorio digital UFPE
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Fecha publicación:
                </b>
                24/10/2023
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Area de concentración:
                </b>
                Dinámica no lineal, caos y sistemas complejos
            </td>
            <td rowspan="2">
                <b>
                    Línea de pesquisa:
                </b>
                Neurociencia computacional y análisis de datos


        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan="3"> &nbsp
                <b>Link o DOI:</b>
                <a href="https://repositorio.ufpe.br/handle/123456789/53859"
                    style="color: blue; text-decoration: none;">
                    https://ufpe.br/handle/123456789
                </a>
            </td>
            <!-- 
            <td>&nbsp
                <b>Ver artículo:</b> &nbsp
                <a href="#diploma_maestria_{{iecol}}">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td> -->
        </tr>
    </table>

    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">

    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del trabajo:
                </b>
                Modelo Q-D para dispersión elástica protón-protón con normalización global
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2" style="width: 50%;"> &nbsp
                <b>Revista:</b>
                Revista de la Facultad de Ciencias UNAL
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Fecha publicación:
                </b>
                01/07/2019
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Area de concentración:
                </b>
                Física de partículas de altas energías
            </td>
            <td rowspan="2">
                <b>
                    Línea de pesquisa:
                </b>
                Análisis de datos del experimento TOTEM


        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan="3"> &nbsp
                <b>Link o DOI:</b>
                <a href="https://doi.org/10.15446/rev.fac.cienc.v8n2.77604" style="color: blue; text-decoration: none;">
                    https://doi.org/rev.fac.cienc.v8n2.77604
                </a>
            </td>
            <!-- 
                <td>&nbsp
                    <b>Ver artículo:</b> &nbsp
                    <a href="#diploma_maestria_{{iecol}}">
                        <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                    </a>
                </td> -->
        </tr>
    </table>
    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">

    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del trabajo:
                </b>
                Sección eficaz en colisiones P(bar)-P basado en un modelo Q-D con pomeron
                elástico
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2" style="width: 50%;"> &nbsp
                <b>Revista:</b>
                SIRED - Universidad de Nariño
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Fecha publicación:
                </b>
                04/06/2019
            </td>
        </tr>

        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan=" 3"> &nbsp
                <b>
                    Area de concentración:
                </b>
                Física de partículas de altas energías
            </td>
            <td rowspan="2">
                <b>
                    Línea de pesquisa:
                </b>
                Análisis de datos del experimento TOTEM


        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td colspan="3"> &nbsp
                <b>Link o DOI:</b>
                <a href="http://sired.udenar.edu.co/id/eprint/6002" style="text-decoration: none;">
                    http://sired.udenar.edu.co/id/eprint
                </a>


            </td>
            <!-- 
                    <td>&nbsp
                        <b>Ver artículo:</b> &nbsp
                        <a href="#diploma_maestria_{{iecol}}">
                            <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                        </a>
                    </td> -->
        </tr>
    </table>

    <br>


    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    Participación científica
                </b>
            </td>
        </tr>
    </table>

    <table style="text-align: left; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531)" ;>
            <td colspan="4">&nbsp
                <b>Participación en eventos científicos: congresos, seminarios, simposios, etc. </b>
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del evento:
                </b>
                COCA IV Congreso colombiano de astronomía y astrofísica
            </td>
        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Institución del evento:</b>
                Universidad de Nariño
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Ciuidad del evento:
                </b>
                San Juan de Pasto
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Departamento del evento:
                </b>
                Nariño
            </td>

            <td>&nbsp
                <b>
                    País del evento:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Rol desempeño:
                </b>
                asistente
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de inicio:</b>
                01/12/2014
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                05/12/2014
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#par_cient1">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">


    <table style="text-align: left; margin-left: 35mm; width: 174mm;">
        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del evento:
                </b>
                VIII Congreso nacional de enseñanza de física y la astronomía
            </td>
        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Institución del evento:</b>
                Universidad de Nariño
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Ciuidad del evento:
                </b>
                San Juan de Pasto
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Departamento del evento:
                </b>
                Nariño
            </td>

            <td>&nbsp
                <b>
                    País del evento:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Rol desempeño:
                </b>
                asistente
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de inicio:</b>
                08/11/2016
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                12/11/2016
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#par_cient2">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">


    <table style="text-align: left; margin-left: 35mm; width: 174mm;">
        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del evento:
                </b>
                XXVII Congreso nacional de física
            </td>
        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Institución del evento:</b>
                Universidad del Cesar
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Ciuidad del evento:
                </b>
                Cartagena de indias
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Departamento del evento:
                </b>
                Bolivar
            </td>

            <td>&nbsp
                <b>
                    País del evento:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Rol desempeño:
                </b>
                ponente
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de inicio:</b>
                03/10/2017
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                06/10/2017
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#par_cient3">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <hr style="border: 1px rgb(112, 112, 112) solid;margin-left: 35mm; width: 174mm;">



    <table style="text-align: left; margin-left: 35mm; width: 174mm;">
        <tr style="background-color: #00bcfb34;">
            <td colspan="4">&nbsp
                <b>
                    Nombre del evento:
                </b>
                Quinta escuela de física de partículas UNIANDES
            </td>
        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205);">
            <td colspan="2"> &nbsp
                <b>Institución del evento:</b>
                Universidad de los Andes
            </td>
            <td colspan=" 2"> &nbsp
                <b>
                    Ciuidad del evento:
                </b>
                Bogota-DC
            </td>
        </tr>

        <tr style="background-color: #00bcfb34;">
            <td colspan="2">&nbsp
                <b>
                    Departamento del evento:
                </b>
                Bogota
            </td>

            <td>&nbsp
                <b>
                    País del evento:
                </b>
                Colombia
            </td>
            <td> &nbsp
                <b>
                    Rol desempeño:
                </b>
                ponente
            </td>

        </tr>
        <tr style="background-color: rgba(0, 188, 251, 0.205)" ;>
            <td> &nbsp
                <b>Fecha de inicio:</b>
                22/05/2017
            </td>
            <td colspan="2"> &nbsp
                <b>Fecha de retiro:</b>
                26/05/2017
            </td>
            <td>&nbsp
                <b>Ver soporte:</b> &nbsp
                <a href="#par_cient4">
                    <img src="http://localhost:8000/static/bs532/img/eye-fill.svg">
                </a>
            </td>
        </tr>
    </table>
    <br>
    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    Competencias TIC
                </b>
            </td>

        </tr>
    </table>

    <table style="text-align: center; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531); text-align: left">
            <td colspan="4">&nbsp
                <b>Dominio de las Tecnologías de la Información y la Comunicación</b>
            </td>
        </tr>


        <tr style="background-color: rgba(231, 231, 231, 0.515)" ;>
            <td rowspan="2">
                <b>Herramienta</b>
            </td>
            <td colspan="3">
                <b>Nivel de dominio del recurso o herramienta informática</b>
            </td>
        </tr>

        <tr style="background-color: rgba(231, 231, 231, 0.515)" ;>
            <td>
                <b>Básico</b>
            </td>
            <td>
                <b>Intermedio</b>
            </td>
            <td>
                <b>Avanzado</b>
            </td>
        </tr>
        </tr>
        {% for opciones in herramientas_informaticas %}
        <tr style="background-color: #00bcfb34; text-align: center;" ;>
            <td style="width: 25%;">
                {{opciones.Software}}
            </td>
            <td style="width: 25%;">
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="color: #f97306;background-color:#f97306;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100">
                                    {{opciones.Basico}}
                                </div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            {{opciones.Basic}}%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;">
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="color: #f97306;background-color:#f97306;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100">
                                    {{opciones.Intermedio}}
                                </div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            {{opciones.Inter}}%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 25%;">
                <table>
                    <tr>
                        <td style="width: 95%;">
                            <div class="progress"
                                style="height: 10px; width: 90%; margin-left: 5px; background-color: #ffffff;">
                                <div class=" progress-bar bg-success" role="progressbar"
                                    style="color: #f97306;background-color:#f97306;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100">
                                    {{opciones.Avanzado}}
                                </div>
                            </div>
                        </td>
                        <td style="width: 5%;">
                            {{opciones.Avanz}}%
                        </td>
                        <td style="width: 3px;">

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor%}
    </table>

    <br>

    <table style="margin-left:145.9mm; width: 63.08mm; border-bottom: 1mm solid; border-bottom-color:#ffffff00">
        <tr>

            <td style="width: 70%; background-color: #282831;">
                <b class="text-uppercase" style="font-size: 18px;color: #f5f5f5;">&nbsp&nbsp
                    documentos de soporte
                </b>
            </td>

        </tr>

    </table>

    <table style="text-align: center; margin-left: 35mm; width: 174mm;">

        <tr style="background-color: rgba(159, 159, 159, 0.531); text-align: left">
            <td colspan="4">&nbsp
                <b>
                    En esta sección, se incluyen todos los documentos que respaldan la información presentada en
                    este documento, formato
                    hoja de vida: diplomas, experiencias labores y certificados.
                </b>
            </td>
        </tr>


    </table>


    <table style="text-align: left; margin-left: 35mm; width: 174mm;">
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/dipfis.jpg" style="width: 100%;"
                    id="diploma_graduacion">
            </td>
        </tr>


        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/diploma_maestria.jpg" style="width: 100%;"
                    id="diploma_maestria">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/diploma_maestria2.jpg" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/traducion.jpg" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/traducion2.jpg" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/experiencia1.jpg" style="width: 100%;"
                    id="exp_lab1">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/experiencia2.jpg" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/exp0.jpg" style="width: 100%;" id="exp_lab2">
            </td>
        </tr>


        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/exp1.jpg" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/experienciamitu1.png" style="width: 100%;"
                    id="exp_lab3">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/experienciamitu2.png" style="width: 100%;"
                    id="exp_lab3">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/experienciainsuca.jpg" style="width: 100%;"
                    id="exp_lab4">
            </td>
        </tr>




        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/HV-AMPLIADA-ALEJANDRO-imágenes-12.jpg"
                    style="width: 100%;" id="par_cient1">
            </td>
        </tr>
        <tr>
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/HV-AMPLIADA-ALEJANDRO-imágenes-13.jpg"
                    style="width: 100%;" id="par_cient2">
            </td>
        </tr>

        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/HV-AMPLIADA-ALEJANDRO-imágenes-15.jpg"
                    style="width: 100%;" id="par_cient3">
            </td>
        </tr>
        <tr>
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <img src=" http://localhost:8000/media/files/img/dochv/HV-AMPLIADA-ALEJANDRO-imágenes-14.jpg"
                    style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://localhost:8000/media/files/img/dochv/HV-AMPLIADA-ALEJANDRO-imágenes-17.jpg"
                    style="width: 100%;" id="par_cient4">
            </td>
        </tr>

    </table>
</div>

{% endblock %}
