body {
  font-family: "Calibri";
  font-size: 15px;
  background-color: #ffffff;
}

@page {
  margin-top: 1cm;
  margin-left: 0cm;
  margin-right: 0cm;
  margin-bottom: 1cm;
  page-break-after: always;
  size: A4;
}

.class-div {
  border: 1px solid rgba(241, 241, 241, 0);
  height: 297mm;
  width: 30mm;
  background-color: #282831;
  margin-bottom: 1cm;
}

table,
tr,
td {
  border: 0px solid rgb(10, 10, 10);
  border-collapse: collapse;
  vertical-align: middle;
  border-collapse: separate;
}

.Ttable {
  border-collapse: collapse;
}

.table_t {
  border-collapse: separate;
  border-spacing: 6px;
}

.my_img {
  width: 3.7cm;
  height: 3.7cm;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
}
