{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{%block content %}

<div class="container" id="mainDiv">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item px-lg-4">

      <a class="nav-link text-expanded text-expanded" href="#">
        Errores en las Mediciones</a>
    </li>
    <li class="nav-item px-lg-4">
      <a class="nav-link text-expanded text-expanded" href="{% url 'ajuste_de_curvas' %}">
        Ajuste de Curvas</a>
    </li>

    <li class="nav-item px-lg-4">
      <a class="nav-link text-expanded text-expanded" href="{% url 'Home' %}">
        Medida de Longitudes y Masas</a>
    </li>

    <li class="nav-item px-lg-4">
      <a class="nav-link text-expanded text-expanded" href="{% url 'Home' %}">
        Movimiento Rectilíneo Uniforme</a>
    </li>

    <li class="nav-item px-lg-4">
      <a class="nav-link text-none text-expanded" href="{% url 'Home' %}">
        Movimiento Rectilíneo Uniformemente Variado</a>
    </li>
    <li class="nav-item px-lg-4">
      <a class="nav-link text-none text-expanded" href="{% url 'Home' %}">
        Caída Libre</a>
    </li>
    <li class="nav-item px-lg-4">
      <a class="nav-link text-none text-expanded" href="{% url 'Home' %}">
        Movimiento Parabólico</a>
    </li>
    <li class="nav-item  px-lg-4">
      <a class="nav-link text-none text-expanded" href="{% url 'Home' %}">
        Movimiento Circular</a>
    </li>
    <li class="nav-item  px-lg-4">
      <a class="nav-link text-none text-expanded" href="{% url 'Home' %}">
        Segunda ley de Newton</a>
    </li>
    <li class="nav-item  px-lg-4">
      <a class="nav-link text-none text-expanded" href="{% url 'Home' %}">
        Fuerza de Rozamiento</a>
    </li>
  </ul>
</div>
{% endblock %}