<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'bs532/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'bs532/css/gestion.css' %}" rel="stylesheet" />
    <link href="{% static 'bs532/css/misopcionescss.css' %}" rel="stylesheet" />
    <!---   inicio codigo para formulario laboratorio  --->


    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!---   fin codigo para formulario laboratorio  --->

    {% block content_head %}

    {% endblock %}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark py-lg-0" id="miniNav"
        style="border: rgba(26, 58, 100, 0.9) 1px solid;">

        <table width="100%" style="margin-left:1cm" ;>

            <tr>
                <td width=" 5%" style="color: white;">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">
                        <img class="intro-img img-fluid mb-lg-0" src="{% static 'bs532/img/House.svg' %}" alt>
                        <a>
                </td>
                <td width=" 65%">
                    </d>
                <td width="2%">
                    <a href='https://www.linkedin.com/in/amcern'>
                        <img class="intro-img img-fluid mb-lg-0" src="{% static 'bs532/img/linkedin.png' %}" alt>

                        <a>
                            </d>
                <td width="2%">
                    <a href="https://www.instagram.com/_alejandro_molina_/">
                        <img class="intro-img img-fluid mb-lg-0" src="{% static 'bs532/img/instagram.png' %}" alt>

                        <a>
                            </d>
                <td width="2%">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">
                        <img class="intro-img img-fluid mb-lg-0" src="{% static 'bs532/img/facebook.png' %}" alt>

                        <a>
                            </d>

                <td width="2%">
                    <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">
                        <img class="intro-img img-fluid mb-lg-0" src="{% static 'bs532/img/lupa.png' %}" alt>
                        <a>
                </td>

                {% if user.is_authenticated %}

                <td td width="7%">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-0">
                            <a class="nav-link text-uppercase text-expanded">
                                Hola {{ user.username }}
                            </a>
                        </li>
                    </ul>
                </td>

                <td width="7%">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item {% if request.path == '/autenticacion/' %}active{% endif %} px-lg-0">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'cerrar_sesion' %}">
                                Cerrar sesion
                            </a>
                        </li>
                    </ul>
                </td>


                <td width="5%">
                </td>


                {% else %}

                <td width="4%">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item {% if request.path == '/autenticacion/' %}active{% endif %} px-lg-0">
                            <a class="nav-link text-uppercase text-expanded" href="{% url 'logear' %}">Ingresar</a>
                        </li>
                    </ul>
                </td>
                <td width="10%">


                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item {% if request.path == '/autenticacion/' %}active{% endif %} px-lg-0">
                            <a class="nav-link text-uppercase text-expanded"
                                href="{% url 'autenticacion' %}">Registro</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        </table>

    </nav>



    <!-- Contenido cambiante-->
    {% block content %}

    {% endblock %}

    <!-- Footer -->

    <div style="height: 4cm; background-color: #f3f3f300;"></div>

    <script src="{% static 'bs532/js/bootstrap.bundle.min.js'%}"></script>
    <!-- <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script> -->

</body>

</html>

<!-- Navigation Menu -->