<!DOCTYPE html>
<html lang="es">

<head>

  {% load static %}
  <!-- Bootstrap -->
  <link href="{% static 'bs532/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Styles -->
  <link href="{% static 'bs532/css/gestion.css' %}" rel="stylesheet" />
  <link href="{% static 'bs532/css/cssbase.css' %}" rel="stylesheet" />
  <link href="{% static 'bs532/css/configbase.css' %}" rel="stylesheet" />

  <!---   inicio codigo para formulario laboratorio  --->

  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!---   fin codigo para formulario laboratorio  --->

  {% block content_head %}

  {% endblock %}

</head>

<body>
  <!-- Contenedor para ambos paneles -->
  <div id="container_personal">
    <!-- Panel izquierdo colapsable -->
    <div class="leftPanel">

      <div style="height: 20px;">
        <!-- cerra -->
        <button onclick="toggleLeftPanel()" class="closePanelButon">
          <svg width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5">
            <line x1="4" y1="4" x2="20" y2="20" stroke="black" stroke-width="3" />
            <line x1="20" y1="4" x2="4" y2="20" stroke="black" stroke-width="3" />
          </svg>

        </button>

      </div>
      <!-- fin cerrar -->



      <div class="miNombreMolina">
        @molina
      </div>

      <div class="ancho_acordeon" style="background-color: rgba(60, 209, 90, 0);width:auto;">
        <div class="accordion" style="background-color: #da060600;width:auto" id="accordionExample">
          <table>
            <tr>
              <td>
                <button class="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <img
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='black' stroke-width='1.5' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E"
                    class="accordion-icon">
                </button>
              </td>
              <td>
                <nav>
                  <ul>
                    <li>
                      <a class="{% if request.path == '/physimathcode/' %} active {% elif request.path == '/' %} active {% endif %}"
                        href=" {% url 'Home' %}">Main</a>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </table>


          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion_body">
              <nav>
                <ul>
                  <li>
                    <a class="{% if request.path == '/infocurricular/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'biography' %}">
                      Information
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/publications/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'publications' %}">
                      Publications
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/fisicalab1/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'fisilab1' %}">
                      Classroom
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/gallery/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'mygallery' %}">
                      Gallery
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/research/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'research' %}" style="white-space: nowrap">
                      Research Interests
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/portafolio/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'myportafolio' %}">
                      Portafolio
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/hojadevida/' %} active {% endif %}" href="{% url 'hojadevida' %}">
                      Resources
                    </a>
                  </li>

                  <li>
                    <a class="{% if request.path == '/contact/' %} active {% elif request.path == '/' %} active {% endif %}"
                      href="{% url 'contactme' %}">
                      Contact
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Panel derecho ajustable -->
    <div class="custom_derecho">
      <div class="div_superior" id="divSuperior">

        <table class="classTable">
          <tr>
            <td>
              <button onclick="toggleLeftPanel()" class="collapse-btn">
                <svg width="18" height="18" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" stroke-width='2'>
                  <rect width="70" height="4" fill="white" />
                  <rect y="9" width="70" height="4" fill="white" />
                  <rect y="18" width="70" height="4" fill="white" />
                </svg>
              </button>
            </td>
            <td style="color: transparent;">
              -
            </td>
            <td>
              <a href=" {% url 'Home' %}" class="collapse-btn">
                @molina
              </a>
            </td>
          </tr>
        </table>


        <div style="text-align: center;">
          <div id="alejandroMolina" class="mitex_underline">
            prof. Alejandro Molina
          </div>
        </div>
      </div>
      {% block content %}

      {% endblock %}

    </div>
  </div>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const buttons = document.querySelectorAll(".button");

      buttons.forEach(button => {
        button.addEventListener("click", function () {
          const parentLi = button.parentElement; // Suponiendo que el botón está dentro de un <li>
          const content = document.querySelector(button.getAttribute("data-bs-target"));

          // Alternar la clase 'active' en el padre para activar el CSS
          parentLi.classList.toggle("active");

          // Manejo de la expansión y contracción del contenido
          if (content.style.maxHeight) {
            content.style.maxHeight = null; // Colapsar
          } else {
            content.style.maxHeight = content.scrollHeight + "px"; // Expandir
          }
        });
      });
    });

    function toggleLeftPanel() {
      let cerrBoton = document.querySelector('.closePanelButon');
      let widthVentana = document.querySelector('.leftPanel')

      if (widthVentana.style.width === "0px") {
        cerrBoton.style.display = "block"
        widthVentana.style.width = "250px"
        widthVentana.style.transition = "width 0.3s ease"
      } else {
        widthVentana.style.width = "0px"
        widthVentana.style.transition = "width 0.3s ease"
        cerrBoton.style.display = "none"
      }
    }

    function updateLeftPanel() {
      let anchoLeftVentana = window.innerWidth;
      let topMenuMolina = document.querySelector(".ancho_acordeon")
      let cerrarBoton = document.querySelector('.closePanelButon');
      let leftPanelVentana = document.querySelector('.leftPanel');
      let customDerecho = document.querySelector('.custom_derecho');
      if (anchoLeftVentana <= 1300) {
        topMenuMolina.style.marginTop = "50px";
        customDerecho.style.marginLeft = "0px"
        leftPanelVentana.style.width = "0px"
        leftPanelVentana.style.transition = "width 0.4s cubic-bezier(.66,.02,.87,-0.15)"
        customDerecho.style.transition = "margin-left 0.4s ease"

      } else {
        topMenuMolina.style.marginTop = "120px";
        cerrarBoton.style.display = "none"
        leftPanelVentana.style.width = "250px"
        leftPanelVentana.style.transition = "width 0.2s ease"
        customDerecho.style.marginLeft = "250px"
        customDerecho.style.transition = "margin-left 0.4s ease"
      }

    }

    //Llama a la función al cargar la página
    document.addEventListener("DOMContentLoaded", updateLeftPanel);

    //Llama a la función al redimensionar la ventana
    window.addEventListener('resize', updateLeftPanel);

    function actualizarColor() {
      let anchoVentana = window.innerWidth;
      let mitexElement = document.querySelector('.mitex_underline');

      if (anchoVentana <= 662) {
        mitexElement.style.top = '90px';
        mitexElement.style.fontSize = "59px";
        mitexElement.style.lineHeight = "80px"
      }

      if (anchoVentana <= 972 && anchoVentana > 662) {
        mitexElement.style.top = '65px';
        mitexElement.style.lineHeight = "100px"
        mitexElement.style.fontSize = "80px";
      }
      if (anchoVentana > 972) {
        mitexElement.style.top = '120px';
        mitexElement.style.lineHeight = "108px"
        mitexElement.style.fontSize = "80px";
      }
    }

    // Llama a la función al cargar la página
    document.addEventListener("DOMContentLoaded", actualizarColor);

    // Llama a la función al redimensionar la ventana
    window.addEventListener('resize', actualizarColor);

    function updateBotton() {
      let anchoVentana = window.innerWidth;
      let collapseElementBtn = document.querySelector('.classTable');
      if (anchoVentana <= 1300) {
        collapseElementBtn.style.display = "block";
      } else {
        collapseElementBtn.style.display = "none";
      }

    }
    document.addEventListener("DOMContentLoaded", updateBotton);
    window.addEventListener('resize', updateBotton);

  </script>
  <script src="{% static 'bs532/js/bootstrap.bundle.min.js'%}"></script>
</body>



</html>

<!-- Navigation Menu -->